{% set both = "max-w-[50%] overflow-hidden" %}
{% set left = both ~ " pr-1 md:pr-4" %}
{% set right = both ~ " pl-1 md:pl-4" %}

{% macro lr(side) %}
  {% if side == "left" %}
    {{ left }}
  {% else %}
    {{ right }}
  {% endif %}
{% endmacro %}

{% macro document_heading(element, side, language) %}
  <td class="{{ lr(side) }} prose text-base lg:text-2xl font-normal align-top">
    {{ element.text[language] }}
  </td>
{% endmacro %}

{% macro group_heading(element, side, language) %}
  <td class="{{ lr(side) }} prose text-base lg:text-xl font-bold py-4 align-top text-ellipsis">
    {{ element.text[language] }}
  </td>
{% endmacro %}

{% macro chapter_heading(element, side, language) %}
  <td class="{{ lr(side) }} prose text-base lg:text-xl font-bold py-4 align-top text-ellipsis">
    {{ element.text[language] }}
  </td>
{% endmacro %}

{% macro section_heading(element, side, language) %}
  <td class="{{ lr(side) }} prose text-base lg:text-xl font-bold pt-4 align-top">
    {{ element.text[language] }}
  </td>
{% endmacro %}

{% macro section_heading_link(element, side, language) %}
  <td class="{{ lr(side) }} prose text-base lg:text-xl font-bold pt-4 align-top">
    <a href="{{ element.slug }}" class="text-blue-700 underline">
      {{ element.text[language] }}
    </a>
  </td>
{% endmacro %}

{% macro paragraph_text(element, side, language) %}
  <td class="{{ lr(side) }} prose text-xs md:text-base lg:text-lg py-4 align-top">
    {{ element.text[language] }}
  </td>
{% endmacro %}