---
layout: blank
eleventyComputed:
  title: "{{ name.en }}"
  breadcrumbs:
    - href: https://lagstiftning.github.io/
      text: 🏠
    - href: "/{{ code }}"
      text: "{{ abbreviation }}"
---

{% from "_includes/elements.njk" import document_heading, chapter_heading, group_heading, section_heading_link, paragraph_text %}
{% from "h1.njk" import h1 %}

{{ h1(
  name.en,
  "Version " + code + ", English Translation",
  "mb-12"
) }}

<table>
  <tbody>
    {% for element in elements %}
      <tr>

        {% if element.type == "document_heading" %}
          {{ document_heading(element, "left", "sv") }}
          {{ document_heading(element, "right", "en") }}
        {% elseif element.type == "chapter_heading" %}
          {{ chapter_heading(element, "left", "sv") }}
          {{ chapter_heading(element, "right", "en") }}
        {% elseif element.type == "group_heading" %}
          {{ group_heading(element, "left", "sv") }}
          {{ group_heading(element, "right", "en") }}
        {% elseif element.type == "section_heading" %}
          {{ section_heading_link(element, "left", "sv") }}
          {{ section_heading_link(element, "right", "en") }}
        {% else %}
          {{ paragraph_text(element, "left", "sv") }}
          {{ paragraph_text(element, "right", "en") }}
        {% endif %}

      </tr>
    {% endfor %}
  </tbody>
</table>
