---
layout: blank
eleventyComputed:
  title: "{{ section.text.en }} of {{ section.revision.name.en }}"
  description: "{{ section.description }}"
---

{% from "_includes/elements.njk" import document_heading, chapter_heading, group_heading, section_heading, paragraph_text %}
{% from "h1.njk" import h1 %}

{{ h1(
  section.text.en + " of " + section.revision.name.en,
  "Version " + section.revision.code + ", English Translation",
  "mb-1"
) }}

<p class="mb-10">
  <a href="/{{ section.revision.code }}/" class="text-blue-600 underline">
    Overview of {{ section.revision.name.en }}
  </a>
</p>

<table>
  <tbody>
    {% for element in section.elements %}
      <tr>

        {% if element.type == "document_heading" %}
          {{ document_heading(element, "left", "sv") }}
          {{ document_heading(element, "right", "en") }}
        {% elseif element.type == "chapter_heading" %}
          {{ chapter_heading(element, "left", "sv") }}
          {{ chapter_heading(element, "right", "en") }}
        {% elseif element.type == "group_heading" %}
          {{ group_heading(element, "left", "sv") }}
          {{ group_heading(element, "right", "en") }}
        {% elseif element.type == "section_heading" %}
          {{ section_heading(element, "left", "sv") }}
          {{ section_heading(element, "right", "en") }}
        {% else %}
          {{ paragraph_text(element, "left", "sv") }}
          {{ paragraph_text(element, "right", "en") }}
        {% endif %}

      </tr>
    {% endfor %}
  </tbody>
</table>
